
@model Fox.Model.ViewModel.Student.InsertVm
@{
    ViewBag.Title = "Insert";
}

<h2>新增-學生表單</h2>

@using (Html.BeginForm("Inserted", "Student", FormMethod.Post))
{
    <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" id="SelectBtn" class="btn btn-primary">查詢</button>
    </div>

    <div class="form-group" style="margin-top: 10px">
        <label for="studentName">姓名</label>
        @Html.TextBoxFor(m => m.studentName, new { Class = "form-control", placeholder = "請輸入姓名", maxlength = "5" })
    </div>
    <div class="form-group">
        <label for="studentId">身份證</label>
        @Html.TextBoxFor(m => m.studentId, new { Class = "form-control", placeholder = "請輸入身份證", maxlength = "10" })
    </div>
}

@section Scripts_Footer {
    <script>
        $(document).ready(function () {
            $("#SelectBtn").click(function () {
                window.location.href = "@Url.Action("Index","Student")";
            });
        });
    </script>
}

