@model Fox.Model.ViewModel.Error.ErrorVM
@{
    ViewBag.Title = "錯誤頁";
}

<h2>錯誤頁面</h2>

<div class="form-group">
    程式執行錯誤，請重新回首頁再次進行

</div>

<a href="@Url.Action("Index","Student")" class="btn btn-link">回首頁</a>


